html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    display: flex;
}

/*---------------Nav---------------*/
nav {
    height: 100vh;
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .logo-container,
nav .controls-container {
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
}

nav .logo-container img {
    width: 20px;
}

nav .icon {
    color: white;
}
/*---------------Nav---------------*/


/*---------------Dashboard---------------*/
.dashboard {
    padding: 30px;
    width: 100%;
}

.dashboard .ticket-container {
    height: 80vh;
    overflow: scroll;
}

/*---------------Dashboard---------------*/

/*---------------TicketCard---------------*/
.ticket-card {
    display: flex;
    width: 100%;
}

/*---------------TicketCard---------------*/